{
  "properties": {
    "uuid": {
      "type": "keyword",
      "index": true
    },
    "name": {
      "type": "text",
      "analyzer": "search_analyzer"
    },
    "birthDate": {
      "type": "keyword"
    },
    "createdDate": {
      "type": "date"
    },
    "lastUpdated": {
      "type": "date"
    }
  }
}